<!DOCTYPE html>
<html lang="en" dir="ltr">
    <%- include('./partials/header.ejs') %> 
<body>
    
    <div class="container">
        <form action="" method="post">
            <input type="text" placeholder="enter your blog heading" name="blogHeader">
            <textarea name="" id="" cols="30" rows="10" name="contentText"></textarea>
            <button type="submit"></button>
        </form>
    </div>
    

    <%- include('./partials/footer.ejs')  %> 
</body>
</html>
